@{
    ViewData["Title"] = "ScaDispatchListTV";
    string[] TableHeaders = new string[] 
    {
        "Klient",
        "Zamówienie",
        "Nazwa",
        "Il.zam",
        "Gotowość",
        "Data wys."
    };
}
<head>   
    <h3>ScaDispatchList</h3>    
</head>
<br />
<body>
    <table class="table">
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }
            </tr>
        </thead>
        
        <tbody>
            @{
            if (Model != null)
            {
                foreach (var Data in Model)
                {
                    <tr class="active-row">                        
                        <td>@Data.Klient</td
                        <td></td>
                        <td width="15%">@Data.Zamowienie</td>                        
                        <td>@Data.Nazwa</td>
                        <td>@Data.IlZam</td>
                        <td>@Data.Got</td>
                        <td>@Data.DataWys</td>
                    </tr>
                }
            }
        }
        </tbody>
    </table>
</body>